.EightBall-container  {
    width: 300px;
    height:300px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.EightBall-text {
    text-align: center;
}